@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About ME";
}
<body>

    <h1>Ezra</h1>

    <p>I love doing just about anything outside in the winter</p><br />
    <!--image of me-->
    <img src="img/PXL_20210105_222926747.jpg" height="500" width="600" /><br /><br />

    <!--short summary of what i hope for from the course-->
    <h2>What I hope to get out of IS 413</h2><br />
    <p>
        I really hope that I learn a lot about developing applications. I am also really excited to continue honing my
        programming skills in various languages. I am just very excited to be learning more about development!
    </p><br /><br />

    <!--unordered list of my top 3 job preferences-->
    <h2>Top 3 Jobs</h2>
    <ul class="jobs">
        <li>Data Analyst</li>
        <li>Front-End Developer</li>
        <li>Back-End Developer</li>
    </ul>

</body>